{% load omfilters %}

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'product:list' %}">E-commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'product:list' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'request:list' %}">Requests</a>
                    <a class="dropdown-item" href="{% url 'profile:create' %}">Update</a>
                    <a class="dropdown-item" href="{% url 'profile:logout' %}">Logout</a>
                </div>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link disable" href="{% url 'profile:create' %}">Login</a>
            </li>

            {% endif %}

            <li class="nav-item">
                <a class="nav-link nav-cart-link active" href="{% url 'product:cart' %}">
                    <span class="nav-cart-text mr-1">
                        Cart
                    </span>
                    <span class="nav-cart-count mr-1">
                        {% if request.session.cart.values %}
                        <strong>{{ request.session.cart | cart_total_qtd }}x</strong>
                        {% endif %}
                    </span>
                    <span class="nav-cart-icon mr-2">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'product:search' %}">
            <input name="term" value="{{request.GET.term}}" class="form-control mr-sm-2 type" type="search"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>