{% extends "base.html" %}
{% load omfilters %}

{% block title %}Summary | {% endblock %}

{% block content %}

<div class="row mb-5">
    <div class="col-lg">
        <h2>Resume</h2>

        <p class="lead">User</p>
        <p>To Edit, <a href="{% url 'profile:create' %}">click</a></p>
        <dl class="row">
            <dt class="col-lg-2">Name:</dt>
            <dd class="col-lg-4">{{ user.first_name}}</dd>
            <dt class="col-lg-2">Surname:</dt>
            <dd class="col-lg-4">{{ user.last_name}}</dd>

            <dt class="col-lg-2">Age:</dt>
            <dd class="col-lg-4">{{ profile.age }}</dd>
            <dt class="col-lg-2">Date Of Birth:</dt>
            <dd class="col-lg-4">{{ profile.date_of_birth}}</dd>

            <dt class="col-lg-2">ID:</dt>
            <dd class="col-lg-4">{{profile.cc}}</dd>
            <dt class="col-lg-2">E-mail:</dt>
            <dd class="col-lg-4">{{user.email}}</dd>
        </dl>

        <p class="lead">Address</p>
        <p> To Edit, <a href="{% url 'profile:create' %}">click</a></p>
        <dl class="row">
            <dt class="col-lg-2">Address:</dt>
            <dd class="col-lg-4">{{profile.address}}</dd>
            <dt class="col-lg-2">Number:</dt>
            <dd class="col-lg-4">{{profile.number}}</dd>

            <dt class="col-lg-2">Place:</dt>
            <dd class="col-lg-4">{{profile.local}}</dd>

            <dt class="col-lg-2">City:</dt>
            <dd class="col-lg-4">{{profile.city}}</dd>
            <dt class="col-lg-2">District:</dt>
            <dd class="col-lg-4">{{profile.get_district_display}}</dd>

            <dt class="col-lg-2">Postal Code:</dt>
            <dd class="col-lg-4">{{profile.postal_code}}</dd>
        </dl>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <h3>Cart Resume</h3>
        <p class="lead">Your Products and quantities</p>

        <div class="table-responsive">

            {% include "partials/_cart.html" %}

        </div>
    </div>
</div>

<div class="col-lg">
    <p class='lead'>Total on cart</p>

    <div class='table-responsive'>
        <table class="table">
            <tr>
                <td class="font-weight-bold">Total</td>
                <td>{{ request.session.cart | cart_total | format_price }}</td>
                <td>
                    <div class="col">
                        <a class="btn btn-block btn-primary btn-lg" href="{% url 'request:save' %}">
                            Buy
                        </a>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock content %}